* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 72px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.container {
  max-width: 920px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  /* background-color: white; */
}
.filters {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 9999;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 8px;
  max-width: 360px;
  transition: all .3s ease;
}
.filters-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-top: 0px solid #e3e3e3;
  transition: all .2s ease;
  gap: 32px;
  height: 0;
  padding: 0px 16px;
  overflow: hidden;
}
.filters-active {
  height: auto;
  padding: 24px 16px;
  border-top: 1px solid #e3e3e3;
  transition: all .2s ease;
}
.filters:has(.filters-active) .filters-head svg {
  transform: rotate(180deg);
  transition: all .2s ease;
}
.filters-head svg {
  transition: all .2s ease;
}
.filters-details,
.filters-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filters-head {
  padding: 20px 16px;
}
.filters-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.filters-options label {
  background-color: white;
  width: 100px;
  padding: 10px;
  border-radius: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;  
}
.filters-options label:has(input[type='checkbox']:checked) {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
.filters-options input {
  opacity: 0;
  position: absolute;
}
#data-clear {
  border: none;
  background-color: transparent;
  padding: 0px 2px;
  border-bottom: 1px solid transparent;
  color: black;
  cursor: pointer;
}
#data-clear:hover {
  border-bottom: 1px solid black;
}
#map { 
  height: 600px; 
  width: 920px;
}
.leaflet-popup {
  pointer-events: none;
}
.countries-table {
  width: fit-content;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.countries-head {
  background-color: rgba(255, 166, 0, 0.75);
}
.countries-list {
  max-height: 320px;
  overflow: scroll;
}
.countries-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 166, 0, 0.2);

}
.countries-item div {
  padding: 8px 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.countries-item div:last-child {
  border-right: none;
}
.countries-name,
.countries-region {
  width: 160px;
}
.countries-count {
  width: 120px;
}
.countries-iso,
.countries-num,
.countries-2g,
.countries-3g,
.countries-5g,
.countries-lte,
.countries-lte_m,
.countries-nb_iot {
  width: 80px;
}
.main-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.popup-inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.popup-title {
  font-weight: 600;
  font-size: 14px;
  max-width: 100px;
}
.popup-list {
  font-size: 12px;
  font-weight: 500;
}
.leaflet-popup {
  transition: none !important;
}